################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter05/bin
/Chapter05/obj
/Chapter04-OrderProcess/bin
/Chapter04-OrderProcess/obj
/Chapter03/bin
/Chapter03/obj
/Chapter02/bin
/Chapter02/obj
/Chapter01/bin
/Chapter01/obj

*.user
